<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.mapper.CalcuChngRecMapper">
    <insert id="create">
        insert into calcu_chng_rec (calcuChngDay, calcuChngTime, bakDay, bakTime, moneySales, cardSales)
        values(#{calcuChngDay},#{calcuChngTime},#{bakDay},#{bakTime},#{moneySales},#{cardSales})
    </insert>
    
    <select id="read" resultType="org.zerock.domain.CalcuChngRecVO">
        select calcuChngNum, calcuChngDay, calcuChngTime, bakDay, bakTime, moneySales, cardSales
        from
        calcu_chng_rec
        Where calcuChngNum=#{calcuChngNum}
    </select>
    
    <update id="update">
        update calcu_chng_rec set calcuChngNum=#{calcuChngNum}, calcuChngDay=#{calcuChngDay}, calcuChngTime=#{calcuChngTime},
        bakDay=#{bakDay}, bakTime=#{bakTime}, moneySales=#{moneySales}, cardSales=#{cardSales}
        where calcuChngNum=#{calcuChngNum}
    </update>
    
    <delete id="delete">
        delete from calcu_chng_rec where calcuChngNum=#{calcuChngNum}
    </delete>
    
    <select id="listAll" resultType ="org.zerock.domain.CalcuChngRecVO">
        <![CDATA[
        select calcuChngNum, calcuChngDay, calcuChngTime, bakDay, bakTime, moneySales, cardSales
        from
        calcu_chng_rec
        where calcuChngNum> 0
        order by calcuChngNum desc
         ]]>
    </select>
    <resultMap type="org.zerock.domain.CalendarVO" id="calendarvalue">
		<result property="title" column="moneySales+cardSales"/>
		<result property="start" column="calcuDay"/>
	</resultMap>
    <select id="calendarvalue" resultType ="org.zerock.domain.CalendarVO" resultMap="calendarvalue">
        <![CDATA[
        	select moneySales+cardSales, calcuDay
        	from calcu_chng_rec r, calcu c 
        	where c.posNum = #{posNum} and r.calcuChngNum = c.calcuChngNum
        ]]>
        
    </select>
    
</mapper>