<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.mapper.CardcompaMapper">
    
<!--     <resultMap type="org.zerock.domain.MemberVO" id="Member">
		<result property="posNum" column="POS_NUM"/>
		<result property="regNum" column="REG_NUM"/>
		<result property="vanNum" column="VAN_NUM"/>
		<result property="repreName" column="REPRE_NAME"/>
		<result property="compaName" column="COMPA_NAME"/>
		<result property="phoneNum" column="PHONE_NUM"/>
	</resultMap> -->
	
    <insert id="create">
        insert into card_compa (cardCompaNum, cardCompaName, cardCompaPhoneNum)
        values(#{cardCompaNum},#{cardCompaName},#{cardCompaPhoneNum})
    </insert>
    
    <select id="read" resultType="org.zerock.domain.CardCompaVO">
        select cardCompaNum, cardCompaName, cardCompaPhoneNum
        from
        card_compa
        Where cardCompaNum=#{cardCompaNum}
    </select>
    
    <update id="update">
        update card_compa set cardCompaNum=#{cardCompaNum}, cardCompaName=#{cardCompaName},
         cardCompaPhoneNum=#{cardCompaPhoneNum}
        where cardCompaNum=#{cardCompaNum}
    </update>
    
    <delete id="delete">
        delete from card_compa where cardCompaNum=#{cardCompaNum}
    </delete>
    
    <select id="listAll" resultType ="org.zerock.domain.CardCompaVO">
        <![CDATA[
        select cardCompaNum, cardCompaName, cardCompaPhoneNum
        from
        card_compa
        where cardCompaNum > 0
        order by cardCompaNum desc
         ]]>
    </select>
    
    <select id="sendlistAll" resultType ="org.zerock.domain.CardCompaVO">
        <![CDATA[
        select cardCompaNum, cardCompaName, cardCompaPhoneNum
        from
        card_compa
        where cardCompaNum > 0
        order by cardCompaNum desc
         ]]>
    </select>
</mapper>