<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.mapper.EmployeeMapper">
    
<!--     <resultMap type="org.zerock.domain.MemberVO" id="Member">
		<result property="posNum" column="POS_NUM"/>
		<result property="regNum" column="REG_NUM"/>
		<result property="vanNum" column="VAN_NUM"/>
		<result property="repreName" column="REPRE_NAME"/>
		<result property="compaName" column="COMPA_NAME"/>
		<result property="phoneNum" column="PHONE_NUM"/>
	</resultMap> -->
	
    <insert id="create">
        insert into emp (posNum, empId, empName, pwd, retire)
        values(#{posNum},#{empId},#{empName},#{pwd},#{retire})
    </insert>
    
    <select id="read" resultType="org.zerock.domain.EmployeeVO">
        select empId, posNum, empName, pwd
        from
        emp
        Where empId=#{empId} and posNum=#{posNum}
    </select>
    
    <select id="login" resultType="org.zerock.domain.EmployeeVO">
        select empId, posNum, empName, pwd
        from
        emp
        Where empId=#{empId} and posNum=#{posNum} and pwd=#{pwd} and retire=1
    </select>
    
    <update id="update">
        update emp set empId=#{empId}, posNum=#{posNum}, empName=#{empName}, pwd=#{pwd}
        Where empId=#{empId} and posNum=#{posNum}
    </update>
    
    <delete id="delete">
        update emp set retire=0 
		where empId=#{empId} and posNum=#{posNum}
    </delete>
    
    <select id="listAll" resultType ="org.zerock.domain.EmployeeVO">
        <![CDATA[
        select empId, posNum, empName, pwd, retire
        from
        emp
        where posNum =#{posNum}
        order by retire desc
         ]]>
    </select>
    
    <select id="Alldata" resultType ="org.zerock.domain.EmployeeVO">
        <![CDATA[
        select empId, posNum, empName, pwd, retire
        from
        emp
         ]]>
    </select>
    <delete id="restart">
        update emp set retire=1 
		where empId=#{empId} and posNum=#{posNum}
    </delete>
</mapper>