<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.mapper.GoodsMapper">
    
<!--     <resultMap type="org.zerock.domain.MemberVO" id="Member">
		<result property="posNum" column="POS_NUM"/>
		<result property="regNum" column="REG_NUM"/>
		<result property="vanNum" column="VAN_NUM"/>
		<result property="repreName" column="REPRE_NAME"/>
		<result property="compaName" column="COMPA_NAME"/>
		<result property="phoneNum" column="PHONE_NUM"/>
	</resultMap> -->
	
    <insert id="create">
        insert into goods (goodsCatNum, goodsColor, goodsName, goodsPrice, goodsSeq)
        values(#{goodsCatNum},#{goodsColor},#{goodsName},#{goodsPrice},#{goodsSeq})
    </insert>
    
    <select id="read" resultType="org.zerock.domain.GoodsVO">
        select goodsNum, goodsCatNum, goodsColor, goodsName, goodsPrice, goodsSeq
        from
        goods
        Where goodsNum=#{goodsNum}
    </select>
    
    <update id="update">
        update goods set goodsNum=#{goodsNum}, goodsCatNum=#{goodsCatNum}, goodsColor=#{goodsColor}, goodsName=#{goodsName},
        goodsPrice=#{goodsPrice}, goodsSeq=#{goodsSeq}
        where goodsNum=#{goodsNum}
    </update>
    
    <delete id="delete">
        delete from goods where goodsNum=#{goodsNum}
    </delete>
    
    <select id="listAll" resultType ="org.zerock.domain.GoodsVO">
        <![CDATA[
        select goodsNum, g.goodsCatNum, goodsColor, goodsName, goodsPrice, goodsSeq
        from goods g, goods_cat gc
        where gc.posNum=#{posNum} and gc.goodsCatNum=g.goodsCatNum
        order by goodsNum desc
         ]]>
    </select>
    
    <select id="Alldata" resultType="org.zerock.domain.GoodsVO">
    	<![CDATA[
    	select goodsNum, goodsCatNum, goodsColor, goodsName, goodsPrice, goodsSeq
    	from goods
    	]]>
    </select>
</mapper>