<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.mapper.MemberMapper">
    
<!--     <resultMap type="org.zerock.domain.MemberVO" id="Member">
		<result property="posNum" column="POS_NUM"/>
		<result property="regNum" column="REG_NUM"/>
		<result property="vanNum" column="VAN_NUM"/>
		<result property="repreName" column="REPRE_NAME"/>
		<result property="compaName" column="COMPA_NAME"/>
		<result property="phoneNum" column="PHONE_NUM"/>
	</resultMap> -->

    <insert id="create">
        insert into biz_clnt(posNum, regNum, vanNum, repreName, compaName, phoneNum, addr)
        values(#{posNum},#{regNum},#{vanNum},#{repreName},#{compaName},#{phoneNum},#{addr})
    </insert>
    
    <select id="read" resultType="org.zerock.domain.MemberVO">
        select posNum, regNum, vanNum, repreName, compaName, phoneNum, addr
        from
        biz_clnt
        Where posNum=#{posNum}
    </select>
    
    <update id="update">
        update biz_clnt set posNum=#{posNum}, regNum=#{regNum}, vanNum=#{vanNum}, repreName=#{repreName}, compaName=#{compaName},
        phoneNum=#{phoneNum}, addr=#{addr}
        where posNum = #{posNum} 
    </update>
    
    <delete id="delete">
        update biz_clnt set shutdown = 0 
		where posNum=#{posNum}
    </delete>
    
    <select id="listAll" resultType ="org.zerock.domain.MemberVO">
        <![CDATA[
        select posNum, IP, regNum, vanNum, repreName, compaName, phoneNum, addr, shutdown
        from
        biz_clnt
        where posNum > 0
        order by shutdown desc
         ]]>
    </select>
    
</mapper>