<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.mapper.PayMapper">
    
<!--     <resultMap type="org.zerock.domain.MemberVO" id="Member">
		<result property="posNum" column="POS_NUM"/>
		<result property="regNum" column="REG_NUM"/>
		<result property="vanNum" column="VAN_NUM"/>
		<result property="repreName" column="REPRE_NAME"/>
		<result property="compaName" column="COMPA_NAME"/>
		<result property="phoneNum" column="PHONE_NUM"/>
	</resultMap> -->
	
    <insert id="create">
        insert into pay (payNum, cmplxPayNum, cardCompaNum, payWay, cardNum, payAmnt)
        values(#{payNum},#{cmplxPayNum},#{cardCompaNum},#{payWay},#{cardNum},#{payAmnt})
    </insert>
    
    <select id="read" resultType="org.zerock.domain.PayVO">
        select payNum, cmplxPayNum, cardCompaNum, payWay, cardNum, payAmnt
        from
        pay
        Where payNum=#{payNum}
    </select>
    
    <update id="update">
        update pay set payNum=#{payNum}, cmplxPayNum=#{cmplxPayNum}, cardCompaNum=#{cardCompaNum}, payWay=#{payWay},
        cardNum=#{cardNum}, payAmnt=#{payAmnt}
        where payNum=#{payNum}
    </update>
    
    <delete id="delete">
        delete from pay where payNum=#{payNum}
    </delete>
    
    <select id="listAll" resultType ="org.zerock.domain.PayVO">
        <![CDATA[
        select payNum, cmplxPayNum, cardCompaNum, payWay, cardNum, payAmnt
        from
        pay
        where payNum > 0
        order by payNum desc
         ]]>
    </select>
    
</mapper>