<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.mapper.VanMapper">
    
<!--     <resultMap type="org.zerock.domain.MemberVO" id="Member">
		<result property="posNum" column="POS_NUM"/>
		<result property="regNum" column="REG_NUM"/>
		<result property="vanNum" column="VAN_NUM"/>
		<result property="repreName" column="REPRE_NAME"/>
		<result property="compaName" column="COMPA_NAME"/>
		<result property="phoneNum" column="PHONE_NUM"/>
	</resultMap> -->
	
    <insert id="create">
        insert into van (vanNum, vanIP, vanName)
        values(#{vanNum},#{vanIP},#{vanName})
    </insert>
    
    <select id="read" resultType="org.zerock.domain.VanVO">
        select vanNum, vanIP, vanName
        from
        van
        Where vanNum=#{vanNum}
    </select>
    
    <update id="update">
        update van set vanNum=#{vanNum}, vanIP=#{vanIP}, vanName=#{vanName}
        where vanNum=#{vanNum}
    </update>
    
    <delete id="delete">
        delete from van where vanNum=#{vanNum}
    </delete>
    
    <select id="listAll" resultType ="org.zerock.domain.VanVO">
        <![CDATA[
        select vanNum, vanIP, vanName
        from
        van
        where vanNum > 0
        order by vanNum desc
         ]]>
    </select>
    
    <select id="sendlistAll" resultType ="org.zerock.domain.VanVO">
        <![CDATA[
        select v.vanNum, v.vanIP, v.vanName
        from biz_clnt b, van v        
        where v.vanNum > 0 and b.posNum=#{posNum} and b.vanNum = v.vanNum
        order by vanNum desc
         ]]>
    </select>
</mapper>